*{
	margin: 0;
	padding:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.clear:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
}
.head{
	height: 30px;
	background-color: #f4f4f4;
}
.nav{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.left{
	float: left;
}
.left li,a{
	float: left;
	font-family: '微软雅黑';
	font-size: 12px;
	font-weight: lighter;
	color: black;
	margin-top: 4px;
	margin-right: 10px;
}
.qq{
	padding-left: 15px;
	background: url(../images/lQQlogo.png) no-repeat left center;
}
.right{
	float: right;
} 
.right .saomiao{
	position: relative;
}
.right img{
	position: absolute;
	display: none;
	left: -20px;
	top: 25px;
}
.saomiao:hover img{
	display: block;
}
.right li{
	float: left;
	font-family: '微软雅黑';
	font-size: 12px;
	font-weight: lighter;
	margin-top: 7px;
	margin-right: 10px;
}
.right span{
	color: #ff3545;
}
.logo{
	width: 1200px;
	height: 117px;
	margin: 0 auto;
}
.logo img{
	float: left;
	padding-top: 17px;
} 
.logo .sousuo{
	margin-top: 40px;
	margin-left: 200px;
	float: left;
}
.sousuo li:first-child{
	width: 388px;
	line-height: 36px;
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	color: #c1c1c1;
	padding-left: 17px;
	border:2px solid #f83838;
	float: left;
}
.sousuo li:last-child{
	width: 90px;
	line-height: 40px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	background-color: #f83838;
	float: left;
}
.shopping{
	width: 150px;
	line-height: 40px;
	background-color: #f5f5f5;
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
	margin-top: 40px;
	margin-left:162px;
	float: left;
}
.shopping img{
	padding-top: 10px;
	padding-left:25px; 
	float:left;
}
.shopping span{
	color: #f14e4e;
}
.nav1{
	height: 43px;
	border-bottom: 3px solid #e00304;
}
.nav1-1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.nav1-1 li{
	float: left;
	font-family: '微软雅黑';
	font-size: 16px;
	margin: 12px 45px 0 45px;
}
.nav1-1 li:first-child{
	width: 90px;
	height: 30px;
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
	color: white;
	padding-top: 9px;
	border-radius:5px;
	margin: 0 auto;
	background-color: #fd0304;
}
.middle{
	height: 1207px;
	width: 1200px;
	margin: 0 auto;
}
.nowpl{
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	padding-top: 27px;
}
.maotai{
	width: 574px;
	height: 490px;
	position: relative;
	float: left;
}
.dingwei0{
	position: absolute;
	top: 233px;
}
.dingwei1{
	position: absolute;
	top: 233px;
	left: 549px;
}
.introduce{
	height: 566px;
	width: 350px;
	margin-left: 86px;
	margin-top: 50px;
	float: left;
}
.js{
	font-family: '微软雅黑';
	font-size: 26px;
}
.rmb{
	width: 497px;
	line-height: 64px;
	background-color: #fafafa;
	font-family: '微软雅黑';
	font-size: 26px;
	padding-left: 18px;
	margin-top: 22px;
	margin-bottom: 28px;
	color: #de0019;
}
.time{
	width: 497px;
	font-family: '微软雅黑';
	font-size: 18px;
	color: #ff9600;
	margin-bottom: 28px;
}
.more{
	color: #bebebe;
	font-size: 18px;
	font-family: '微软雅黑';
}
.more span{
	width: 104px;
	line-height: 38px;
	margin-left: 25px;
	border:1px solid #d8d8d8;
	text-align: center;
	display: inline-block;
}
.more li{
	padding-bottom: 35px;
}
.more li:last-child{
	padding-bottom: 25px;
}
.numb{
	display: inline-block;
}
.numb li{
	width: 65px;
	line-height: 39px;
	text-align: center;
	float: left;
}
.numb li:first-child{
	width: 49px;
	line-height: 39px;
	font-family: '微软雅黑';
	font-size: 29px;
	color: #b3b3b3;
	text-align: center;
	background-color: #f4f4f4;
}
.numb li:last-child{
	width: 49px;
	line-height: 39px;
	font-family: '微软雅黑';
	font-size: 29px;
	color: #b3b3b3;
	text-align: center;
	background-color: #f4f4f4;
}
.buy{
	margin-top: 25px;
	display: inline-block;
}
.buy li{
	width: 160px;
	line-height: 51px;
	font-family: '微软雅黑';
	font-size: 20px;
	color:#ffffff;
	background: #e60012;
	text-align: center;
	float: left;
}
.buy li:first-child{
	margin-right: 27px;
	background-color: #fa5d5d;
}
.img{
	margin-top: -85px;
	display: inline-block;
	float: left;
}
.img li{
	width: 73px;
	line-height: 73px;
	text-align: center;
	margin-right: 14px;
	float: left;
}
.img li:first-child{
	padding-left: 81px;
}
.goods{
	width: 1200px;
	height: 435px;
	margin-top: 48px;
	float: left;
}
.shangpin li{
	line-height: 47px;
	font-size: 22px;
	font-family: '微软雅黑';
	color: #ffffff;
	text-align: center;
	background: url(../images/lback.png) no-repeat center;
}
.back{
	height: 388px;
	width: 1200px;
	font-family: '微软雅黑';
	font-size: 18px;
	color: #666666;
	background-color: #fafafa;
	float: left;
}
.pinpai{
	color: #333333;
	margin-top: 38px;
	margin-left: 35px;
}
.canshu{
	margin: 51px 0 38px 35px;
}
.canshu-1{
	width: 307px;
	height: 190px;
	margin-left: 35px;
	float: left;
}
.canshu-1 li{
	line-height: 38px;
}
.canshu-2{
	width:307px;
	height: 190px;
	margin-left: 140px;
	float: left; 
}
.canshu-2 li{
	line-height: 38px;
}
.canshu-3{
	width: 235px;
	height: 152px;
	margin-left: 140px;
	float: left;
}
.canshu-3 li{
	line-height: 38px;
}
.service{
	height: 86px;
	background-color: #f83838;
}
.ser{
	width: 1200px;
	height: 86px;
	margin: 0 auto;
}
.ser li{
	width: 350px;
	float: left;
	padding-top: 15px;
	margin: 0 auto;
}
.ser li:last-child{
	width: 147px;
	float: left;
	padding-top: 15px;
}
.ser img{
	vertical-align: middle;
}
.ser p{
	display: inline-block;
	padding-left: 15px;
	color: #ffffff;
}
.last{
	height: 289px;
	background-color: #2e2e2e;
}
.list{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}
.list1{
	padding-left: 10px;
	padding-right: 208px;
}
.list2{
	padding-right: 187px;
}
.list3{
	padding-right: 204px;
}
.list4{
	padding-right: 188px;
}
.list ul{
	float: left;
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	padding-top: 22px;
	color: white;
}
.list li:first-child{
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: lighter;
	padding-bottom: 20px;
	color: white;
}
.list li{
	padding-bottom: 15px;
}
.list li:last-child{
	padding-bottom: 18px;
}
.line{
	height: 18px;
	width: 1200px;
	margin: 0 auto;
}
.line img{
	float: left;
}
.final{
	margin-top: 27px;
	text-align: center;
}
.final ul{
	display: inline-block;
}
.final li a{
	padding:0 10px;
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	color: #6f6f6f;
	border-right:2px solid #a4a4a4;
}
.final li{
	float: left;
}
.final li:last-child a{
	border-right-style: none;
}
.final p{
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: lighter;
	color: #8b8b8b;
	padding-top: 18px;
	padding-bottom: 22px;
}